body {
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    background-color: #555;
}

label {
    color: white;
}

input {
    width: 300px;
}

#settings-navigation {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.settings-nav-button {
    cursor: pointer;
    max-width: 30px;
}

#api-keys-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

#api-keys-form table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto; 
}

#api-keys-form td {
    padding: 10px; 
    vertical-align: middle; 
}


/* Fix for the settings container to ensure full height */
#settings-container {
    position: relative;
    height: 100vh; /* Using vh instead of % for full height */
    width: 100%;
    padding-top: 50px; /* Give enough space for the top navigation bar */
}
